.jumbotron{
	background-repeat:repeat;
	color: white;
	background-color: #808B96;
	
}
.submitButton{
	margin-top: 3%;
}
h1{
	color: white;
}
label{
	color: #5DADE2  ;
}
#animal-input{
	outline: none;
	border: 2px solid #5DADE2 ;
	 
}
body{
	background-color: #E5E7E9  ;
}